.container {
    display: flex;
    gap: 50px;
    padding: 20px;
    margin: 40px auto;
    max-width: 1000px;
}

h1 {
    margin: 20px;
}

.plane {
    display: grid;
    grid-template-columns: auto auto 30px auto auto;
    gap: 10px;
    background-color: #cee0f8;
    border-radius: 60px 60px 10px 10px;
    padding: 60px 10px 20px 10px;
}
.seat {
    width: 50px;
    height: 50px;
    background-color: #86a78b;
    border: 1px solid #211217;
    cursor: pointer;
    border-radius: 15px;
}
.seat.taken {
    background-color: #5a303d;
    cursor: not-allowed;
}
.seat.selected {
    background-color: #6b9194;
}
.seat.booked {
    background-color: #ad5e52;
    cursor: not-allowed;
}
#book-button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    /*display: none;*/
}

.info{
    width: 400px;
    height: 200px;
    border-radius: 15px;
    background-color: #cee0f8;
    padding: 30px;
    /*justify-content: start;*/
}

p{
    color: #211217;
    font-size: 16px;
    padding: 15px;
}

input[type=checkbox] {
    width:15px;
    height:15px;
}
input[type=number]{
    font-size: 15px;
}



h2{
    color: #211217;
    padding: 15px;
}

#suggest-button{
    height: 40px;
    width: 80px;
}

