/* kõikidele lehtedele kehtivad stiilid */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2e5e3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;

}

header {
    background-color: #5a303d;
    padding: 10px 0;
}

nav {
    float: left;

}

.nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav_links li {
    display: inline-block;
    margin-left: 15px;
}

.nav_links li a {
    color: #211217;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav_links li a:hover {
    background-color: #ad5e52;
}

.nav_links li a.active{
    background-color: #ad5e52;
}

.nav_links a {
    border-radius: 15px;
}

h1 {
    color: #211217;
}

