<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Avaleht</title>
        <link rel="stylesheet" type="text/css" href="/styleHome.css">
        <link rel="stylesheet" type="text/css" href="/styleNavBar.css">

    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul class="nav_links">
                        <li><a class="active" th:href="@{'/'}">Home</a></li>
                        <li><a th:href="@{'/broneeri'}">Broneeri lend</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="content">
            <h1>On aeg minna reisile!</h1>
            <div class="text-img-conteiner">
                <img src="/img/FluffernutterFalls.jpg" alt="Fluffernutter Falls" />
                <p>Avastage Fluffernutter Fallsi maagiline ilu! Sukelduge hingematvasse loodusimesse, kus kõrguvad kaljud embavad salapärast Fluffernutter Fallsi juga. See on koht, kus aeg peatub ja hing saab puhata. Kujutage ette, kuidas te matkate läbi lopsakate männimetsade, tunnete jaheda vee pritsmeid näol ja imetlete päikesekiirte tantsu vee kohal. Fluffernutter Falls on ideaalne sihtkoht seiklushimulistele, loodusfotograafidele ja kõigile, kes otsivad rahu ja vaikust. Broneerige oma lend juba täna ja avastage see peidetud pärl!</p>
            </div>
            <div class="text-img-conteiner-reverse">
                <img src="/img/GiggleGulch.jpg" alt="Giggle Gulch" />
                <p>Tere tulemast Giggle Gulchi, kus unistused saavad teoks! Astuge sisse muinasjutulisse maailma, kus värvilised majad tantsivad päikesepaistes ja mäed sosistavad lugusid rõõmust. Giggle Gulch on koht, kus naer on nakkav ja iga nurgatagune peidab endas uut üllatust. Kujutage ette, kuidas te jalutate mööda munakivitänavat, imetlete piparkoogimajade arhitektuuri ja tunnete, kuidas mured kaovad. Giggle Gulch on ideaalne sihtkoht peredele, paaridele ja kõigile, kes soovivad põgeneda argipäeva rutiinist. Broneerige oma lend juba täna ja laske end viia maagilisse seiklusse Giggle Gulchis!</p>
            </div>
            <div class="text-img-conteiner">
                <img src="/img/PicklePatchPlains.jpg" alt="Pickle Patch Plains" />
                <p>Avastage Pickle Patch Plainsi metsik ilu! Astuge sisse maagilisse maailma, kus kõrguvad punased kaljud valvavad laiu rohelisi tasandikke. Pickle Patch Plains on koht, kus aeg peatub ja loodus räägib oma lugu. Kujutage ette, kuidas te matkate mööda looklevat rada, imetlete päikeseloojangu värve kaljudel ja tunnete, kuidas tuul sosistab lugusid seiklustest. Pickle Patch Plains on ideaalne sihtkoht seiklejatele, fotograafidele ja kõigile, kes otsivad rahu ja vaikust. Broneerige oma lend juba täna ja laske end viia unustamatule teekonnale Pickle Patch Plainsi!</p>
            </div>
            <div class="text-img-conteiner-reverse">
                <img src="/img/SnugglebugSwamp.jpg" alt="Snugglebug Swamp" />
                <p>Avastage Snugglebug Swampi salapärane ilu! Astuge sisse maagilisse maailma, kus kõrged puud sosistavad lugusid ja udu tantsib vee kohal. Snugglebug Swamp on koht, kus aeg peatub ja loodus avaldab oma saladusi. Kujutage ette, kuidas te jalutate mööda looklevat oja, imetlete päikesekiirte mängu puude vahel ja tunnete, kuidas sammal sosistab lugusid seiklustest. Snugglebug Swamp on ideaalne sihtkoht seiklejatele, loodusfotograafidele ja kõigile, kes otsivad rahu ja vaikust. Broneerige oma lend juba täna ja laske end viia unustamatule teekonnale Snugglebug Swampi!</p>
            </div>
            <div class="text-img-conteiner">
                <img src="/img/WobblyWaffleLand.jpg" alt="Wobbly Waffleland" />
                <p>Tere tulemast Wobbly Wafflelandi, kus unistused on sama pehmed kui vahvlid! Astuge sisse maagilisse maailma, kus majad on ehitatud vahvlitest ja pilved on sama magusad kui siirup. Wobbly Waffleland on koht, kus aeg peatub ja fantaasia saab tiivad. Kujutage ette, kuidas te jalutate mööda vahvlitest sillutatud tänavat, imetlete piparkoogimajade arhitektuuri ja tunnete, kuidas mured kaovad. Wobbly Waffleland on ideaalne sihtkoht peredele, paaridele ja kõigile, kes soovivad põgeneda argipäeva rutiinist. Broneerige oma lend juba täna ja laske end viia maagilisse seiklusse Wobbly Wafflelandi!</p>
            </div>

            <a th:href="@{'/broneeri'}" class="bron-nupp">Broneeri lend kohe!</a>

        </div>


    </body>
</html>